{% extends 'layout.html' %} {% block content %}
<main>
  <h2>This is dashboard page</h2>
  <select class="custom-select" id="mySelect">
    <option selected>Open this select menu</option>
    <option value="1">Huffing Post</option>
    <option value="2">Times of India</option>
    <option value="3">BBC News</option>
    <option value="4">Entertainment news</option>
  </select>
  <button onclick="sendSelectValue()">Select</button>
</main>
<script>
  function sendSelectValue() {
    var selectElement = document.getElementById("mySelect");
    var selectedValue =
      selectElement.options[selectElement.selectedIndex].value;

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/my-endpoint");
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.send(JSON.stringify({ selectedValue: selectedValue }));
  }
</script>
{% endblock %}
