{% extends 'layout.html' %} {% block content %}
<main>
  <!-- Banner -->
  <section id="banner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1>Are you tired of not being able to detect sarcasm?</h1>
          <p>
            Our sarcasm detector can help you understand the hidden meaning
            behind sarcastic remarks.
          </p>
          <a href="/sarc_detector" class="btn btn-primary btn-lg">Get started</a>
        </div>
        <div class="col-md-6">
          <!-- <img
            src="https://res.cloudinary.com/teepublic/image/private/s--cH8bN-Q3--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_000000,e_outline:48/co_000000,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_auto,h_630,q_90,w_630/v1542023362/production/designs/3487788_0.jpg"
            alt="Sarcasm Detector"
            class="img-fluid"
          /> -->
        </div>
      </div>
    </div>
  </section>
  <br />
  <!-- Features -->
  <section id="features">
    <div class="container">
      <h2 class="text-center mb-5">Features</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <i class="fas fa-search fa-3x mb-3"></i>
              <h3 class="card-title">Accurate detection</h3>
              <p class="card-text">
                Our advanced algorithms can accurately detect sarcasm in any
                context.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <i class="fas fa-lock fa-3x mb-3"></i>
              <h3 class="card-title">Secure and private</h3>
              <p class="card-text">Your data is secure at all times.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us -->
  <section id="about">
    <div class="container">
      <h2 class="text-center mb-5">About Us</h2>
      <div class="row">
        <div class="col-md-6">
          <img
            src="https://th.bing.com/th/id/OIP.AwwUhnPagc6ml037MtP40AHaFG?pid=ImgDet&rs=1"
            alt="About Us"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6">
          <h3>We are passionate about detecting sarcasm</h3>
          <p>
            Our team of experts has years of experience in the field of natural
            language processing and machine learning. We are committed to
            providing the best possible experience for our users and helping
            them better understand sarcasm in their daily lives.
          </p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <br />
</main>
{% endblock %}
